<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link href="../static/css/menu.css" type="text/css" rel="stylesheet">
    <script src="../static/js/jquery3.3.1.js"  type="text/javascript"></script>
    <script src="../static/js/menu.js" type="text/javascript"></script>
    <s
</head>
<body>
    <div class="container">  <!--主要的]容器-->
        <div class="top">     <!--  顶部信息-->
                上海市

           <div class="login">登录 注册 服务者登录</div>

        </div> <!--顶部信息结束-->

        <div class="head"> <!-- 头部所有内容-->
              <div class="head_1">
                  <img src="../static/img/top.jpg" width="299px" height="32px">
                  <div class="search">
                      <input class="input" placeholder="搜索服务" />
                    <!--  <label>搜索</label>-->
                      <button type="button">搜索</button>
                  </div>

              </div>
                <div class="head_2">
                    <div class="head00"> 全部服务分类</div>
                    <div class="head01"> 工商税务</div>
                    <div class="head01"> 知识产权</div>
                    <div class="head01"> 人事社保</div>
                    <div class="head01"> 快和税务</div>
                    <div class="head01"> 400-6886-666</div>
                </div>
        </div><!-- 头部所有内容结束-->

            <div class="menu">  <!--菜单内容-->
                <ul >
                    <li id="m1">注册公司</li>
                    <li  id="m2">财税记账</li>
                    <li  id="m3">商标资产</li>
                    <li  id="m4">高薪自制</li>
                </ul>
             </div> <!-- 菜单内容结束-->

        <div class="body">

        </div>

    </div>  <!--主要的容器结束-->
</body>
</html>